<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />

    <title><%= currUser.name.toUpperCase() %>'s Profile</title>
    <%- include("../include/head") %>

    <style>
      main {
        margin-block: 2rem;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 10%;
        /* min-height: 70dvh; */
      }
      .sec {
        width: 100%;
        margin-bottom: 2rem;
      }
      .user-img {
        border: 2px solid black;
        height: 9vw;
        width: 9vw;
        border-radius: 7vw;
        text-align: center;
        object-fit: contain;
      }
      #sec-1 {
        padding-top: .5rem;
        border: 2px solid #00a34d;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 1rem;
      }
      /* #sec-1 > div {
        border: 2px solid blue;
      } */
      .user-info {
        /* border: 2px solid red; */
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .user-name {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        color: #00a34d;
      }
      .user-bio {
        padding: 1rem;
        width: 80%;
        min-height: inherit;
        font-size: 1.1rem;
        font-weight: 500;
      }

      /* Section-2 */
      #sec-2 nav ul {
        display: flex;
        overflow-x: auto;
        /* flex-wrap: wrap; */
        column-gap: 2rem;
        row-gap: 1rem;
        padding: 1rem;
      }
      #nav-links::-webkit-scrollbar {
        width: 3px !important;
        height: 3px !important;
    }

    #nav-links {
        overflow: -moz-scrollbars-none;
    }

    #nav-links {
        -ms-overflow-style: none;
    }

    #nav-links::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius:4px;
    }

      #sec-2 nav ul li {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 5px 1.5rem;
        text-wrap: nowrap;
      }
      .option-result {
        width: 100%;
        /* border: 2px solid green; */
        min-height: 30vw;
      }
      .option-result > div {
        min-height: 10vw;
      }
      
      .active {
        background-color: #00a34d;
        color: white;
        border-radius: 1rem;
        height: fit-content;
      }

      .all-task {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content:space-around;
        padding: 0.5rem 1rem;
      }
      .all-task > div {
        border: 2px solid #00a34d;
        padding: 1vw;
        width: 31%;
        /* height: fit-content; */
      }
      .all-task > div > h3 {
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 500;
      }
      .show-in-detail {
        display: block;
        margin-top: 1vw;
        text-decoration: underline 2px #00a34d;
        font-weight: 500;
      }

      .logout{
        margin-top: 8rem;
      }
      .logout:hover{
        background-color: rgb(179, 5, 5);
      }
      .logout:active{
        background-color: rgb(179, 5, 5);
      }

      .hide {
        display: none;
      }



      /* confirm box related */
      .green-btn {
          display: block;
          margin: 1vw auto;
          border: none;
          border-radius: 3rem;
          padding: 0.5rem 4rem;
          color: white;
          font-size: 1.2rem;
          background-color: #00a34d;
        }
        .del-btn{
          background-color: rgba(255, 0, 0, 0.89);
        }
        .red-btn{
          background-color: rgba(255, 0, 0, 0.89);
        }
      #confirmBox{
            background-color:black;
            color: white;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 70vw;
            padding: 2vw;
            z-index: 2;
            text-align: center;
            border-radius: 1rem;
        }
        .confirm-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #confirmBox > div{
            margin: 2vw 0;
            display: flex;
            gap: 2vw;
        }
        .hide{
            display: none !important;
        }
        .focus-eff{
            animation: focusEff .1s;
        }
        @keyframes focusEff {
            0%{
                /* transform: translateY(0px); */
                transform: translate(-50%,-50%);
            }
            50%{
                transform: translate(-40%,-50%);
            }
            100%{
                transform: translate(-50%,-50%);
            }
        }

        @media(width<=650px){
            .task-des{
            padding-inline-start: 0ch;
            font-size: 1.2rem;
            font-weight: 500;
        }
        .main-title{
            font-size: 2rem;
            border-bottom: 2px solid #00a34d;
        }
        .highlight{
            background-color: yellow;
        }
        .lists-with-task{
            margin-top: 2rem;
        }
        .green-btn {
          margin: 1rem auto;
          padding: 0.5rem 2rem;
          font-size: 1.2rem;
        }
        .flex{
            flex-wrap: wrap;
        }
        }

        @media(width<=500px){
        #confirmBox .green-btn {
          margin: 1rem auto;
          padding: .4rem 2rem;
          font-size: 1rem;
        }
        }
        @media(width<=360px){
        #confirmBox .green-btn {
          margin: .2rem auto;
          padding: .1rem 2rem;
          font-size: 1rem;
        }
        #confirmBox{
            padding: 1rem;
        }
        #confirmBox > div{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        }









      @media(width<=800px){
        .all-task > div {
        border: 2px solid #00a34d;
        padding: 1vw;
        width: 48%;
        /* height: fit-content; */
      }
      .user-img {
        border: 2px solid black;
        height: 15vw;
        width: 15vw;
        border-radius: 15vw;
      }
      #sec-2 nav ul {
        padding: 5px;
      }
      }


      @media(width<=650px){
        .user-img {
        border: 2px solid black;
        height: 15vw;
        width: 15vw;
        border-radius: 15vw;
      }
      html{
        font-size: 14px;
      }
      }


      @media(width<=550px){
        .all-task > div {
        border: 2px solid #00a34d;
        padding: 1vw;
        width: 98%;
        /* height: fit-content; */
      }
      .user-info {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .user-img {
        border: 2px solid black;
        height: 20vw;
        width: 20vw;
        border-radius: 15vw;
      }
      .user-name {
        font-size: 1.7rem;
        font-weight: 500;
        color: #00a34d;
      }
      .user-bio {
        padding: 1rem;
        width: 100%;
        min-height: 10rem;
        font-size: 1.1rem;
        font-weight: 500;
      }
      .green-btn-adv{
        padding: .2rem 2rem;
        font-size: 1,2rem;
      }
      }

      @media (width<=400px) {
        .user-img {
        border: 2px solid black;
        height: 24vw;
        width: 24vw;
        border-radius: 15vw;
      }
      }
    </style>
  </head> 
  <body>
    <%- include("../include/simple-header") %> 
    <%-include("../include/flash-msg.ejs") %>


    <main>
      <section class="sec" id="sec-1">
        <div class="user-info">
          <img src="<%= currUser.image %>" alt="Error due to some issue profile photo is not visible,Please Reload" class="user-img" referrerpolicy="no-referrer">
          <!-- <div class="user-img"></div> -->
          <h2 class="user-name txt-cap"><%= currUser.name %></h2>
        </div>
        <div class="user-bio">
          <% if (currUser.bio && currUser.bio.length) { %>
          <p><%= currUser.bio %></p>
          <% } else{%>
          <p>Hello <%= currUser.name %>👋, Write Your Bio Here 👀</p>
          <% } %>
        </div>
        <a href="/user/profile/<%= currUser._id %>/edit" class="green-btn-adv">Edit Profile</a>
      </section>
      <section class="sec" id="sec-2">
        <nav>
          <ul id="nav-links">
            <li class="active" id="0">Tasks</li>
            <li id="1">Completed Tasks</li>
            <li id="2">Uncomplete Tasks</li>
            <li id="3">Upcoming Tasks</li>
            <li id="4">Lists</li>
          </ul>
        </nav>
        <div class="option-result" id="option-result-par">
          <div class="all-task">
            <% if (currUser.tasks && currUser.tasks.length) { %> 
            <%allTask.forEach(task => { %>
            <div>
              <h3><%= task.name %></h3>
              <a
                href="/tasks/<%= task._id %>"
                target="_blank"
                class="show-in-detail"
                >Show In Detail</a
              >
            </div>
            <% }) %> 
            <% } else{%>
              <!-- use image like github, no issue section mein vala image vo cartoon and fox -->
              <div>
                <h3>
                  No Result Found !
                </h3>
              </div>
            <% } %>
          </div>
          <div class="all-task completed-task hide">
            <% if (currUser.tasks && currUser.tasks.length && completedTask && completedTask.length) { %> 
              <%completedTask.forEach(task => { %>
              <div>
                <h3><%= task.name %></h3>
                <a
                  href="/tasks/<%= task._id %>"
                  target="_blank"
                  class="show-in-detail"
                  >Show In Detail</a
                >
              </div>
              <% }) %> 
              <% } else{%>
                <!-- use image like github, no issue section mein vala image vo cartoon and fox -->
                <div>
                  <h3>
                    No Result Found !
                  </h3>
                </div>
              <% } %>
          </div>
          <div class="all-task uncompleted-task hide">
            <% if (currUser.tasks && currUser.tasks.length && uncompletedTask && uncompletedTask.length) { %> 
              <%uncompletedTask.forEach(task => { %>
              <div>
                <h3><%= task.name %></h3>
                <a
                  href="/tasks/<%= task._id %>"
                  target="_blank"
                  class="show-in-detail"
                  >Show In Detail</a
                >
              </div>
              <% }) %> 
              <% } else{%>
                <!-- use image like github, no issue section mein vala image vo cartoon and fox -->
                <div>
                  <h3>
                    No Result Found !
                  </h3>
                </div>
              <% } %>
          </div>
          <div class="all-task upcoming-task hide">
            <% if (currUser.tasks && currUser.tasks.length && upcomingTask && upcomingTask.length) { %> 
              <%upcomingTask.forEach(task => { %>
              <div>
                <h3><%= task.name %></h3>
                <a
                  href="/tasks/<%= task._id %>"
                  target="_blank"
                  class="show-in-detail"
                  >Show In Detail</a
                >
              </div>
              <% }) %> 
              <% } else{%>
                <!-- use image like github, no issue section mein vala image vo cartoon and fox -->
                <div>
                  <h3>
                    No Result Found !
                  </h3>
                </div>
              <% } %>
          </div>
          <div class="all-task lists hide">
            <% if (currUser.lists && currUser.lists.length) { %> 
              <%currUser.lists.forEach(list => { %>
              <div>
                <h3><%= list %></h3>
                <a
                  href="/lists/edit?listName=<%= list %>"
                  target="_blank"
                  class="show-in-detail"
                  >Get More Info</a
                >
              </div>
              <% }) %> 
              <% } else{%>
                <!-- use image like github, no issue section mein vala image vo cartoon and fox -->
                <div>
                  <h3>
                    No Result Found !
                  </h3>
                </div>
              <% } %>
          </div>
        </div>
      </section>

      <section id="sec-3">
        <div class="green-btn-adv logout del-btn">LogOut Me :)</div>
        <div id="confirmBox" class="confirm-box hide">
          <h1>Do You Want To LogOut ?</h1>
          <div>
              <form action="/logout?_method=DELETE" method="post">
                  <button class="green-btn del-btn">Yes,I want</button>
              </form>
              <button class="green-btn" id="no-btn">No</button>
          </div>
        </div>
        
      </section>
    </main>

    


    <script>
        let navLinks = document.getElementById("nav-links");
        let optionResult = document.getElementById("option-result-par");
      // console.dir(navLinks);

        navLinks.addEventListener('click',(e)=>{
            // console.log(e.target.nodeName)

            if((!e.target.classList.contains("active")) && (e.target.nodeName == 'LI')){
              let idx = e.target.getAttribute("id");
              // console.log(idx);
              for(let i=0;i<navLinks.children.length;i++){
                if(i == idx){
                  navLinks.children[i].classList.add("active");
                }else{
                  navLinks.children[i].classList.remove("active");
                }
              }

              for(let i=0;i<optionResult.children.length;i++){
                if(i == idx){
                  optionResult.children[i].classList.remove("hide");
                }else{
                  if(!optionResult.children[i].classList.contains("hide")){
                    optionResult.children[i].classList.add("hide");
                  }
                }
              }
            }
        })
    </script>

    <script>
       let delBtn = document.querySelector('.del-btn');
        let confirmBox = document.querySelector('#confirmBox');


        delBtn.addEventListener('click',(e)=>{
            confirmBox.classList.toggle("hide");


            if(!confirmBox.classList.contains('hide')){
            window.addEventListener('click',(e)=>{
                // console.log(e.target);
                if((e.target != confirmBox) && (e.target != delBtn) ){
                    confirmBox.classList.add('focus-eff');
                    if(confirmBox.classList.contains('focus-eff')){
                        setTimeout(()=>{
                            // console.log('effect class is deleted !');
                            confirmBox.classList.remove('focus-eff');
                        },500);
                    }
                }
            })
        }
        })

        let noBtn = document.querySelector("#no-btn");
        noBtn.addEventListener('click',(e)=>{
            confirmBox.classList.add("hide");
        })
        
    
    </script>

  </body>
</html>
